services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    restart: always
    environment:
      - CLUSTER_NAME=videogames
    ports:
      - '9870:9870'
      - '9000:9000'
    volumes:
      - namenode:/hadoop/dfs/name
      - ./hadoop/core-site.xml:/opt/hadoop-3.2.1/etc/hadoop/core-site.xml
      - ./hadoop/hdfs-site.xml:/opt/hadoop-3.2.1/etc/hadoop/hdfs-site.xml
    networks:
      - hadoop

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    restart: always
    environment:
      - CLUSTER_NAME=videogames
      - SERVICE_PRECONDITION=namenode:9870
    volumes:
      - datanode:/hadoop/dfs/data
      - ./hadoop/core-site.xml:/opt/hadoop-3.2.1/etc/hadoop/core-site.xml
      - ./hadoop/hdfs-site.xml:/opt/hadoop-3.2.1/etc/hadoop/hdfs-site.xml
    depends_on:
      - namenode
    networks:
      - hadoop

  spark-master:
    image: bde2020/spark-master:3.3.0-hadoop3.3
    container_name: spark-master
    restart: always
    ports:
      - '8080:8080'
      - '7077:7077'
    environment:
      - INIT_DAEMON_STEP=setup_spark
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    volumes:
      - ./spark:/opt/spark-apps
      - ./data:/data
      - ./hadoop/core-site.xml:/spark/conf/core-site.xml
      - ./hadoop/hdfs-site.xml:/spark/conf/hdfs-site.xml
    depends_on:
      - namenode
      - datanode
    networks:
      - hadoop

  spark-worker:
    image: bde2020/spark-worker:3.3.0-hadoop3.3
    container_name: spark-worker
    restart: always
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    volumes:
      - ./spark:/opt/spark-apps
      - ./data:/data
    depends_on:
      - spark-master
    networks:
      - hadoop

networks:
  hadoop:
    driver: bridge

volumes:
  namenode:
  datanode:
